.tiptap-toolbar button {
  margin: 2px;
  
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background-color: black;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.is-active {
  background-color: #fff !important;
  color: black !important;
}
.ProseMirror {
  min-height: 500px;
  height: 100%;
  overflow: scroll;
  
}
